html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
}
.header-container {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 20px 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: transparent;
  color: #000000;
  transition: 0.3s;
  z-index: 30;
}
@media (max-width: 1300px) {
  .header-container {
    padding: 20px 6%;
  }
}
@media (max-width: 850px) {
  .header-container {
    display: flex;
    flex-direction: column;
    background: #6459ff;
  }
}
@media (max-width: 600px) {
  .header-container {
    background: #6459ff;
    padding: 5px 6%;
  }
}
.header-container h1 {
  font-size: 2rem;
  margin-right: 350px;
  font-family: 'Roboto Slab', serif;
}
@media (max-width: 1300px) {
  .header-container h1 {
    margin-right: 50px;
  }
}
@media (max-width: 1000px) {
  .header-container h1 {
    margin-right: 0px;
  }
}
@media (max-width: 850px) {
  .header-container h1 {
    font-size: 3.5rem;
    padding-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .header-container h1 {
    padding: 15px 0px;
  }
}
.header-container h1 a {
  text-decoration: none;
  color: white;
}
.header-container .devDesk-Shadow {
  text-shadow: 2px 2px 4px black;
}
.header-container nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1300px) {
  .header-container nav {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header-container nav {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
.header-container nav a {
  text-decoration: none;
  font-size: 1rem;
  visibility: hidden;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
@media (max-width: 850px) {
  .header-container nav a {
    visibility: visible;
    text-shadow: 2px 2px 4px black;
  }
}
@media (max-width: 600px) {
  .header-container nav a {
    display: none;
    padding: 3px 0px;
  }
}
.header-container nav a::after {
  width: 0%;
  margin-top: 5px;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.header-container nav a:hover::after {
  left: 50%;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  box-shadow: 2px 2px 4px black;
}
.nav-fixed-change {
  background: #6459ff;
  color: whitesmoke;
  box-shadow: 0 2px 4px 1px rgba(34, 34, 34, 0.32);
}
.nav-fixed-change nav a {
  visibility: visible;
  color: whitesmoke;
}
@media (max-width: 600px) {
  .nav-fixed-change nav a {
    display: block;
  }
}
.nav-fixed-change nav a::after {
  width: 0%;
  margin-top: 5px;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.nav-fixed-change nav a:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  box-shadow: 0px 0px 0px black;
}
@media (max-width: 600px) {
  .nav-hamburger-clicked {
    background: #6459ff;
  }
}
@media (max-width: 600px) {
  .nav-hamburger-clicked nav {
    order: 2;
  }
}
.nav-hamburger-clicked nav a {
  visibility: visible;
  color: white;
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 600px) {
  .nav-hamburger-clicked nav a {
    display: block;
  }
}
.hamburger-menu {
  width: 30px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .hamburger-menu {
    position: fixed;
    right: 15px;
    top: 30px;
  }
}
.hamburger-menu:after,
.hamburger-menu:before,
.hamburger-menu div {
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
}
@media (max-width: 850px) {
  .hamburger-menu:after,
  .hamburger-menu:before,
  .hamburger-menu div {
    display: none;
  }
}
@media (max-width: 600px) {
  .hamburger-menu:after,
  .hamburger-menu:before,
  .hamburger-menu div {
    display: block;
  }
}
.hamburger-menu-scroll {
  transition: 0s;
  visibility: hidden;
  z-index: 0;
}
.hamburger-open-timing:after,
.hamburger-open-timing:before,
.hamburger-open-timing div {
  transition: all 0.2s ease-in-out;
}
.hamburger-menu-click:before {
  transform: translateY(12px) rotate(135deg);
}
.hamburger-menu-click:after {
  transform: translateY(-12px) rotate(-135deg);
}
.hamburger-menu-click div {
  transform: scale(0);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.main-page-greeting {
  display: flex;
  justify-content: center;
  padding: 150px 12.5%;
  background: url(../assets/blur.jpg);
  background-repeat: no-repeat;
  background-size: auto 100vw;
  background-position: 45% 75%;
  z-index: 1;
}
@media (max-width: 750px) {
  .main-page-greeting {
    background-attachment: fixed;
    background-size: cover;
  }
}
@media (max-width: 1000px) {
  .main-page-greeting {
    padding: 150px 6%;
  }
}
@media (max-width: 600px) {
  .main-page-greeting {
    padding: 100px 6%;
  }
}
.main-page-greeting .top-content {
  width: 75%;
  padding: 50px 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1000px) {
  .main-page-greeting .top-content {
    width: 90%;
  }
}
.main-page-greeting .top-content h2 {
  font-size: 4rem;
  font-family: 'Bitter', serif;
  white-space: nowrap;
  color: white;
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 1000px) {
  .main-page-greeting .top-content h2 {
    white-space: normal;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .main-page-greeting .top-content h2 {
    font-size: 3rem;
  }
}
.main-page-greeting .top-content p {
  padding: 20px 0px;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 550px) {
  .main-page-greeting .top-content p {
    font-size: 1rem;
  }
}
.main-page-greeting .top-content button {
  font-size: 1.25rem;
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  background: #6459ff;
  color: whitesmoke;
  box-shadow: 0px 2px 3px 2px #9b94c7;
  transition: 0.2s;
  font-family: 'Ubuntu', sans-serif;
}
@media (max-width: 550px) {
  .main-page-greeting .top-content button {
    font-size: 1rem;
  }
}
.main-page-greeting .top-content button:hover {
  background: white;
  color: #6459ff;
  box-shadow: 0px 1px 2px 1px #595572;
}
.what-we-do {
  width: 50%;
  padding: 40px 2%;
  margin-top: -100px;
  border-radius: 25px 0px 25px 0px;
  background: white;
  box-shadow: 0 2px 5px 1px rgba(34, 34, 34, 0.56);
  z-index: 2;
}
@media (max-width: 1000px) {
  .what-we-do {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .what-we-do {
    text-align: center;
  }
}
.what-we-do h2 {
  font-size: 1.75rem;
  padding-bottom: 20px;
  font-family: 'Bitter', serif;
}
@media (max-width: 550px) {
  .what-we-do h2 {
    font-size: 1.5rem;
  }
}
.what-we-do p {
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
}
@media (max-width: 550px) {
  .what-we-do p {
    font-size: 1.15rem;
  }
}
.team-management {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  padding: 25px 0px 0px;
}
@media (max-width: 1000px) {
  .team-management {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .team-management {
    flex-direction: column;
    align-items: center;
  }
}
.team-management .teamwork {
  width: 45%;
  padding: 20px 0px 0px;
}
@media (max-width: 650px) {
  .team-management .teamwork {
    width: 100%;
    text-align: center;
  }
}
.team-management .teamwork h3 {
  font-size: 1.65rem;
  padding-bottom: 15px;
  font-family: 'Bitter', serif;
}
@media (max-width: 550px) {
  .team-management .teamwork h3 {
    font-size: 1.4rem;
  }
}
.team-management .teamwork p {
  font-size: 1.15rem;
  padding: 15px 0px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 25px;
}
@media (max-width: 550px) {
  .team-management .teamwork p {
    font-size: 1rem;
  }
}
.team-management .teamwork p:nth-child(odd) {
  border-top: 1px dashed slateblue;
  border-bottom: 1px dashed slateblue;
}
.bottom-image {
  background: url(../assets/teams.jpg);
  padding: 150px;
  margin: 30px 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto 50vw;
  background-position: center;
  width: 75%;
  height: auto;
  border-radius: 0px 25px 0px 25px;
}
@media (max-width: 1000px) {
  .bottom-image {
    width: 90%;
    background-size: auto 75vw;
  }
}
.solve-your-issues {
  width: 75%;
  padding: 0px 40px 25px;
}
@media (max-width: 1000px) {
  .solve-your-issues {
    width: 90%;
    padding: 0px;
  }
}
@media (max-width: 650px) {
  .solve-your-issues {
    text-align: center;
  }
}
.solve-your-issues h3 {
  font-size: 1.65rem;
  padding-bottom: 15px;
  font-family: 'Bitter', serif;
}
@media (max-width: 550px) {
  .solve-your-issues h3 {
    font-size: 1.4rem;
  }
}
.solve-your-issues p {
  font-size: 1.15rem;
  padding: 15px 0px 25px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 25px;
}
@media (max-width: 550px) {
  .solve-your-issues p {
    font-size: 1rem;
  }
}
.solutions-heading {
  background: url(../assets/building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solutions-heading .solutions-heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solutions-heading .solutions-heading-text h2 {
  font-size: 4rem;
  font-family: 'Bitter', serif;
  color: whitesmoke;
  padding: 15px 0px;
  text-shadow: 2px 2px 2px rgba(42, 42, 42, 0.75), 3px 3px 6px rgba(42, 42, 42, 0.3);
}
.solutions-heading .solutions-heading-text p {
  font-size: 1.75rem;
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
  background: rgba(42, 42, 42, 0.6);
  padding: 10px 15px;
  box-shadow: 1px 2px 4px 1px rgba(42, 42, 42, 0.6);
}
.solutions-heading .solutions-heading-text a {
  font-size: 1rem;
  padding: 9px 16px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  background-clip: padding-box;
  color: whitesmoke;
  background: rgba(103, 113, 255, 0.7);
  cursor: pointer;
  box-shadow: 1px 3px 4px 1px rgba(42, 42, 42, 0.6);
  transition: ease-in-out 0.2s;
}
.solutions-heading .solutions-heading-text a:hover {
  box-shadow: 0 0 0 0.01px rgba(42, 42, 42, 0.6);
  color: white;
  background: rgba(103, 113, 255, 0.95);
}
.container .solution-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #616894;
  padding: 25px 0px 35px;
}
.container .solution-boxes h3 {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 5px 0px 25px;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  color: white;
}
.container .solution-boxes .business-solutions {
  width: 100%;
  display: inherit;
  justify-content: space-evenly;
}
.container .solution-boxes .business-solutions .solution-box {
  padding: 25px 2%;
  background: #5aafab;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  width: 27.5%;
  box-shadow: 1px 2px 3px 1px rgba(42, 42, 42, 0.5);
  user-select: none;
  transition: 0.3s;
}
.container .solution-boxes .business-solutions .solution-box:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px 2px rgba(42, 42, 42, 0.6);
  background: #C5979D;
  transform: scale(1.1);
}
.container .solution-boxes .business-solutions .solution-box:active {
  background: #e4acb4;
}
.container .box-container .active-box {
  display: block;
  background-color: red;
  color: white;
  font-size: 3rem;
  border: 2px solid green;
  transition: 0.3s;
}
.container .box-container .inactive-box {
  display: none;
}
footer {
  background: #8294a5;
}
footer .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-nav a {
  text-decoration: none;
  padding: 20px 0px;
  margin: 0px 1%;
  font-size: 1rem;
  white-space: nowrap;
  color: #002d57;
}
@media (max-width: 600px) {
  footer .footer-nav a {
    font-size: 0.8rem;
  }
}
footer .small-footer {
  background: #404952;
  color: #8294a5;
  text-align: center;
  padding: 15px 0px;
  font-size: 0.8rem;
}
@media (max-width: 600px) {
  footer .small-footer {
    font-size: 0.65rem;
  }
}
