html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
}
.header-container {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 20px 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: transparent;
  color: #000000;
  transition: 0.3s;
  z-index: 30;
}
@media (max-width: 1300px) {
  .header-container {
    padding: 20px 6%;
  }
}
@media (max-width: 850px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
}
.header-container h1 {
  font-size: 2rem;
  margin-right: 350px;
  font-family: 'Roboto Slab', serif;
  color: white;
}
@media (max-width: 1300px) {
  .header-container h1 {
    margin-right: 50px;
  }
}
@media (max-width: 1000px) {
  .header-container h1 {
    margin-right: 0px;
  }
}
@media (max-width: 850px) {
  .header-container h1 {
    font-size: 3.5rem;
    padding-bottom: 15px;
  }
}
.header-container .devDesk-Shadow {
  text-shadow: 2px 2px 4px black;
}
.header-container nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1300px) {
  .header-container nav {
    width: 100%;
  }
}
.header-container nav a {
  text-decoration: none;
  font-size: 1rem;
  visibility: hidden;
  white-space: nowrap;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
@media (max-width: 850px) {
  .header-container nav a {
    visibility: visible;
  }
}
.nav-fixed-change {
  background: #6459ff;
  color: whitesmoke;
  box-shadow: 0 2px 4px 1px rgba(34, 34, 34, 0.32);
}
.nav-fixed-change nav a {
  visibility: visible;
  color: whitesmoke;
}
.nav-hamburger-clicked nav a {
  visibility: visible;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.hamburger-menu {
  width: 30px;
  cursor: pointer;
}
.hamburger-menu:after,
.hamburger-menu:before,
.hamburger-menu div {
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px black;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
}
@media (max-width: 850px) {
  .hamburger-menu:after,
  .hamburger-menu:before,
  .hamburger-menu div {
    display: none;
  }
}
.hamburger-menu-scroll {
  transition: 0s;
  visibility: hidden;
  z-index: 0;
}
.hamburger-open-timing:after,
.hamburger-open-timing:before,
.hamburger-open-timing div {
  transition: all 0.2s ease-in-out;
}
.hamburger-menu-click:before {
  transform: translateY(12px) rotate(135deg);
}
.hamburger-menu-click:after {
  transform: translateY(-12px) rotate(-135deg);
}
.hamburger-menu-click div {
  transform: scale(0);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.main-page-greeting {
  display: flex;
  justify-content: center;
  padding: 150px 12.5%;
  background: url(../assets/blur.jpg);
  background-repeat: no-repeat;
  background-size: auto 100vw;
  background-position: 45% 75%;
  z-index: 1;
}
.main-page-greeting .top-content {
  width: 75%;
  padding: 50px 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-page-greeting .top-content h2 {
  font-size: 4rem;
  font-family: 'Bitter', serif;
  white-space: nowrap;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.main-page-greeting .top-content p {
  padding: 20px 0px;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.main-page-greeting .top-content button {
  font-size: 1.25rem;
  padding: 5px 15px;
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  background: #6a21be;
  color: white;
  box-shadow: 0px 2px 3px 2px #9b94c7;
  transition: 0.2s;
  font-family: 'Ubuntu', sans-serif;
}
.main-page-greeting .top-content button:hover {
  background: #00eb33;
  color: #0000aa;
  box-shadow: 0px 1px 1px 1px #595572;
}
.what-we-do {
  width: 50%;
  padding: 40px 2%;
  margin-top: -100px;
  border-radius: 25px 0px 25px 0px;
  background: white;
  box-shadow: 0 2px 5px 1px rgba(34, 34, 34, 0.56);
  z-index: 2;
}
.what-we-do h2 {
  font-size: 1.75rem;
  padding-bottom: 20px;
  font-family: 'Bitter', serif;
}
.what-we-do p {
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
}
.team-management {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  padding: 25px 0px 0px;
}
.team-management .teamwork {
  width: 45%;
  padding: 20px 0px 0px;
}
.team-management .teamwork h3 {
  font-size: 1.65rem;
  padding-bottom: 15px;
  font-family: 'Bitter', serif;
}
.team-management .teamwork p {
  font-size: 1.15rem;
  padding: 15px 0px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 25px;
}
.team-management .teamwork p:nth-child(odd) {
  border-top: 1px dashed slateblue;
  border-bottom: 1px dashed slateblue;
}
.bottom-image {
  background: url(../assets/teams.jpg);
  padding: 150px;
  margin: 30px 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto 50vw;
  background-position: center;
  width: 75%;
  height: auto;
  border-radius: 0px 25px 0px 25px;
}
.solve-your-issues {
  width: 75%;
  padding: 0px 40px 25px;
}
.solve-your-issues h3 {
  font-size: 1.65rem;
  padding-bottom: 15px;
  font-family: 'Bitter', serif;
}
.solve-your-issues p {
  font-size: 1.15rem;
  padding: 15px 0px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 25px;
}
footer {
  background: #8294a5;
}
footer .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-nav a {
  text-decoration: none;
  padding: 20px 1%;
  font-size: 1rem;
  white-space: nowrap;
  color: #002d57;
}
footer .small-footer {
  background: #404952;
  color: #8294a5;
  text-align: center;
  padding: 15px 0px;
  font-size: 0.8rem;
}
