footer {
    background: rgb(130, 148, 165);

    .footer-nav {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            padding: 20px 1%;
            font-size: 1rem;
            white-space: nowrap;
            color: rgb(0, 45, 87);
        }
    }

    .small-footer {
        background: rgb(64, 73, 82);
        color: rgb(130, 148, 165);
        text-align: center;
        padding: 15px 0px;
        font-size: .80rem;
    }
}