.header-container {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 20px 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgb(0, 0, 0);

    transition: .3s;

    z-index: 30;

    h1 {
        font-size: 2rem;
        margin-right: 350px;
    }

    nav {
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            font-size: 1rem;
            visibility: hidden;
            white-space: nowrap;
        }
    }
}

.nav-fixed-change {
    background: rgb(100, 89, 255);
    color: whitesmoke;
    box-shadow: 0 2px 4px 1px rgba(34, 34, 34, 0.32);

    nav {

        a {
            visibility: visible;
            color: whitesmoke;
        }
    }
}

// Hamburger Menu

.hamburger-menu {
    width: 30px;

    &:after,
    &:before,
    div {
        background-color: rgb(0, 0, 0);
        border-radius: 3px;
        content: '';
        display: block;
        height: 5px;
        margin: 7px 0;
    }
}

// Hamburger menu disappearing on scroll
.hamburger-menu-scroll {
    transition: 0s;
    visibility: hidden;
    z-index: 0;
}

//Hamburger timing

.hamburger-open-timing {

    &:after,
    &:before,
    div {
        transition: all .2s ease-in-out;
    }
}

//Hamburger menu open on click
.hamburger-menu-click {

    &:before {
        transform: translateY(12px) rotate(135deg);
    }

    &:after {
        transform: translateY(-12px) rotate(-135deg);
    }

    & div {
        transform: scale(0);
    }

}