@ubuntu: 'Ubuntu', sans-serif;
@roboto: 'Roboto Slab', serif;
@bitter: 'Bitter', serif;


//Media Queries

@tablet1000: ~"(max-width: 1000px)";
@tablet1300: ~"(max-width: 1300px)";
@tablet850: ~"(max-width: 850px)";
@mobile650: ~"(max-width: 650px)";
@mobile600: ~"(max-width: 600px)";
@mobile500: ~"(max-width: 500px)";