@ubuntu: 'Ubuntu', sans-serif;
@roboto: 'Roboto Slab', serif;
@bitter: 'Bitter', serif;


//Media Queries

@tablet1300: ~"(max-width: 1300px)";
@tablet1200: ~"(max-width: 1200px)";
@tablet1000: ~"(max-width: 1000px)";
@tablet850: ~"(max-width: 850px)";
@tablet750: ~"(max-width: 750px)";
@mobile650: ~"(max-width: 650px)";
@mobile600: ~"(max-width: 600px)";
@mobile550: ~"(max-width: 550px)";
@mobile500: ~"(max-width: 500px)";